# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore build files
build/
dist/
*.egg-info

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log
